.Product_container {
  display: flex;
  border: 1px solid #000;
}
.Product_image {
  display: block;
  width: 20%;
}
.Product_description {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.Product_price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  margin-bottom: 10px;
}
